body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0e2ea;
}
.nav{
  width: 100%;
  height: 70px;
  background-color: #f6e3f5;
  box-shadow:0 4px 8px 0 rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}
a {
  text-decoration: none;
  color:#d31a95;
}
.boton-video-nav , .boton-blog-nav , .boton-modo-oscuro {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #f3b4f0;
  background-color: #f6e3f5;
  margin-right: 20px;
  scroll-margin-left: 20px;
  cursor:pointer;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  color:#d31a95;
}
.boton-video-nav:hover{
  border: 1px solid #fba7f7;
  background-color: #f8f5f7;
  color:#d31a95;
  box-shadow:5px 5px 14px 5px #eca3dc3d;
}
.boton-blog-nav:hover{
  border: 1px solid #fba7f7;
  background-color: #f8f5f7;
  color:rgb(211, 26, 149);
  box-shadow:5px 5px 14px 5px #eca3dc3d;
}
.boton-modo-oscuro:hover{
  border: 1px solid #fba7f7;
  background-color: #f8f5f7;
  color:#d31a95;
  box-shadow:5px 5px 14px 5px #eca3dc3d;
}
.fa-moon{
  font-size: 16px;
}
.icon-open-menu{
  display: none;
}
.menu-mobile{
  display: none;
}
.seccion-portada , .seccion-blog{
  text-align: center;
  
}
.seccion-fondo{
  background-color: #fafafa;
}
.titulo{
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 30px;
  font-family: fantasy;
  color: #525050;
  font-size: 1.6em;
}
.carrousel {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

#imagen {
  width: 90%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
 
}
.boton-back , .boton-next{
  border: 1px solid #f3b4f0;
  background-color: #f6e3f5;
  color:#d31a95;
}

.boton-back:hover{
  cursor: pointer;
  border: 1px solid #fba7f7;
  background-color: #f8f5f7;
  color:#d31a95;
  box-shadow:-5px 5px 14px 5px #eca3dc3d;
}
.boton-next:hover{
  cursor: pointer;
  border: 1px solid #fba7f7;
  background-color: #f8f5f7;
  color:#d31a95;
  box-shadow:5px 5px 14px 5px #eca3dc3d;
}
/* controles play / stop */
.controles {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.boton-play , .boton-stop{
  border: 1px solid #f3b4f0;
  border-radius: 3px;
  width: 100px;
  margin:8px;
  background-color: #f6e3f5;
  color:#d31a95;
}
.boton-stop:hover{
  cursor: pointer;
  border: 1px solid #f87df2;
  background-color: #f8f5f7;
  color:#d31a95;
} 
.boton-play:hover{
  cursor: pointer;
  border: 1px solid #f87df2;
  background-color: #f8f5f7;
  color:#d31a95;
}
/* icono scrollup */
.volver-arriba{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
  z-index: 1;
};
.fa-chevron-circle-up{
  
  cursor: pointer;
  
}
.seccion-videos{
  width: 100%;
  padding-bottom: 30px;
  
}

.subtitulos{
  text-align: center;
  font-family: fantasy;
  font-size: 1.4em;
  padding: 20px;
  color: #525050;
}
.center-texto{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:1em;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #525050;
}
/* Estilos reproductor de video */
/*mi clase personal */
.video-js{
  width: 640px;
  height: 267px;
}

.tc-video{
  width: 50%;
  height:auto;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}


.video-js .vjs-control-bar {
	background: #F4F4F4;
	color:#d31a95
} 

.vjs-control {
  background-color: #F4F4F4;
}

.video-js button {
  width: 70px;
  height: 36px;
  margin-right: 20px;
  scroll-margin-left: 20px;
  cursor: pointer;
  background: #F4F4F4;
}
.center-video{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block
}

/* Estilos Blog */

.container-imagen-blog{
  display: flex;
  justify-content:flex-end;
  padding: 30px;
}
.center-blog{
  display: flex;
  justify-content: center;
}
.imagen-blog{
  width: 280px;
  height: 350px;
  border-radius: 10px;
}
.texto-articulo{
  width: 400px;
  height: 400px;
  font-size: 1em;
  padding-right: 40px;
}

/* *** Footer ****/
.footer{  
  text-align: center;
}
.contenedor-iconos-footer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 40px;
  padding: 0;
}
footer ul li{
  list-style:none; 
}
footer h3{
  font-family: fantasy;
  color: #525050;
  text-align: center;
}
.item-icono{
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.fa-instagram, .fa-facebook-square, .fa-shopping-cart{
  font-size: 30px;
  color:#d31a95;
  cursor: pointer;
  margin: 5px;
}

/* Contactos */
.fa-envelope, .fa-phone, .fa-linkedin{
  font-size: 18px;
  font-weight: 900;
  color:#525050;
  cursor: pointer;
  margin: 5px;
}

.alineacion{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0;
}
.texto-contacto{
  padding: 10px;
}

/*Clases modo oscuro*/
.clase-modo-oscuro{
    background-color:#444343;
}
  
.fuentes-modo-oscuro{
    color:#dddddd;
}

.fondo-modo-oscuro{
    background-color:#868484;
    box-shadow:0px 2px 14px 1px #89898957;
}
/* Media query */
@media screen and (max-width:700px) {
  .nav{
    display: none;
  }
  .icon-open-menu{
    display: block;
    margin: 30px 0 0 30px;
    font-size: 26px;
    color: #525050;
  }
  .fuente-modo-oscuro-mobile{
    color:#dddddd;
  }
  .menu-mobile{
    display: none;
    flex-direction: column;
    margin-left: 5px;
    background-color:#fdd8f1c2;
    border-radius: 5px;
    box-shadow:0px 0px 6px 0px #a1a0a080;
    width: 200px;
    position: absolute;
  }
  .fa-times{
    font-size: 26px;
    color: #525050;
    margin: 10px 0 10px 90px;
  }
  .boton-video-nav, .boton-blog-nav, .boton-modo-oscuro{
    width: 180px ;
    margin: 8px;
  }
  .seccion-portada .seccion-videos .seccion-fondo .seccion-blog{
    display: flex;
    width: auto;
    align-content: center;
    
  }
  .carrousel{
    height: 300px;
    width: auto;
  }
}

@media screen and (max-width:600px){
  
  .seccion-portada .seccion-videos .seccion-fondo .seccion-blog{
    display: flex;
    width: auto;
    
  }
  .carrousel{
    height: 300px;
  }
  .imagen-de-carrusel{
    width: 100%;
    height: 300px;
  }

  .center-texto{
    width: auto;
    font-size: 0.7em;
    margin: auto;
  }
  .video-js-responsive-container .video-js{
    width: 400px; 
  }
  .titulo{
    font-size: 1.2em;
  }
  .subtitulos{
    font-size: 1.1em;
  }
  .texto-articulo{
    max-width:400px;
    height: auto;
    font-size: 0.7em; 
    /* ver si hace falta ajustar el font-size: ; */
  }
  .imagen-blog{
    max-width: 200px;
    height: auto;
  }

}

@media screen and (max-width:500px) {
  .center-texto{
    padding: 20px;
  }
  .video-js-responsive-container .video-js{
    width: 400px; 
  }
  .titulo{
    margin:0;
  }
  .subtitulos{
    margin: 8px;
  }
  .texto-articulo{
    width: 280px;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .container-imagen-blog{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .contenedor-iconos-footer, .alineacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item-icono{
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:400px) {
  .carrousel{
    height: 200px;
  }
  .imagen-de-carrusel{
    height: 200px;
  }
  .center-texto{
    padding: 20px;
  }
  .video-js-responsive-container .video-js{
    width: 300px; 
  }
  .video-js .vjs-big-play-button {
    height: 1.5em;
    width: 2.5em;
  }
  .titulo{
    margin:0;
  }
  .subtitulos{
    margin: 8px;
  }
  .container-imagen-blog{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .texto-articulo{
    width: 280px;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .contenedor-iconos-footer, .alineacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item-icono{
    display: block;
    text-align: left;
  }
}