body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 226, 234);
}
.nav{
  width: 100%;
  height: 70px;
  background-color: rgb(246, 227, 245);
  box-shadow:0 4px 8px 0 rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}
a {
  text-decoration: none;
  color:rgb(211, 26, 149);
}
.boton-video-nav , .boton-blog-nav , .boton-modo-oscuro {
  width: 70px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid rgb(243, 180, 240);
  background-color: rgb(246, 227, 245);
  margin-right: 20px;
  scroll-margin-left: 20px;
  cursor:pointer;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  color:rgb(211, 26, 149);
}
.boton-video-nav:hover{
  border: 1px solid rgb(251, 167, 247);
  background-color: rgb(248, 245, 247);
  color:rgb(211, 26, 149);
  box-shadow:5px 5px 14px 5px rgba(236, 163, 220, 0.24);
}
.boton-blog-nav:hover{
  border: 1px solid rgb(251, 167, 247);
  background-color: rgb(248, 245, 247);
  color:rgb(211, 26, 149);
  box-shadow:5px 5px 14px 5px rgba(236, 163, 220, 0.24);
}
.boton-modo-oscuro:hover{
  border: 1px solid rgb(251, 167, 247);
  background-color: rgb(248, 245, 247);
  color:rgb(211, 26, 149);
  box-shadow:5px 5px 14px 5px rgba(236, 163, 220, 0.24);
}
.fa-moon{
  font-size: 16px;
}
.icon-open-menu{
  display: none;
}
.menu-mobile{
  display: none;
}
.seccion-portada , .seccion-blog{
  text-align: center;
  
}
.seccion-fondo{
  background-color: #fafafa;
}
.titulo{
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 30px;
  font-family: fantasy;
  color: #525050;
  font-size: 1.6em;
}
.carrousel {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.imagen-de-carrusel {
  width: 90%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
}
.boton-back , .boton-next{
  border: 1px solid rgb(243, 180, 240);
  background-color: rgb(246, 227, 245);
  color:rgb(211, 26, 149);
}

.boton-back:hover{
  cursor: pointer;
  border: 1px solid rgb(251, 167, 247);
  background-color: rgb(248, 245, 247);
  color:rgb(211, 26, 149);
  box-shadow:-5px 5px 14px 5px rgba(236, 163, 220, 0.24);
}
.boton-next:hover{
  cursor: pointer;
  border: 1px solid rgb(251, 167, 247);
  background-color: rgb(248, 245, 247);
  color:rgb(211, 26, 149);
  box-shadow:5px 5px 14px 5px rgba(236, 163, 220, 0.24);
}
/* controles play / stop */
.controles {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.boton-play , .boton-stop{
  border: 1px solid rgb(243, 180, 240);
  border-radius: 3px;
  width: 100px;
  margin:8px;
  background-color: rgb(246, 227, 245);
  color:rgb(211, 26, 149);
}
.boton-stop:hover{
  cursor: pointer;
  border: 1px solid rgb(248, 125, 242);
  background-color: rgb(248, 245, 247);
  color:rgb(211, 26, 149);
} 
.boton-play:hover{
  cursor: pointer;
  border: 1px solid rgb(248, 125, 242);
  background-color: rgb(248, 245, 247);
  color:rgb(211, 26, 149);
}

.seccion-videos{
  width: 100%;
  padding-bottom: 30px;
  
}

.subtitulos{
  text-align: center;
  font-family: fantasy;
  font-size: 1.4em;
  padding: 20px;
  color: #525050;
}
.center-texto{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:1em;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #525050;
}
/* Estilos reproductor de video */
/*mi clase personal */
.video-js{
  width: 640px;
  height: 267px;
}

.tc-video{
  width: 50%;
  height:auto;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}


.video-js .vjs-control-bar {
	background: #F4F4F4;
	color:rgb(211, 26, 149)
} 

.vjs-control {
  background-color: #F4F4F4;
}

.video-js button {
  width: 70px;
  height: 36px;
  margin-right: 20px;
  scroll-margin-left: 20px;
  cursor: pointer;
  background: #F4F4F4;
}
.center-video{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block
}

/* Estilos Blog */

.container-imagen-blog{
  display: flex;
  justify-content:flex-end;
  padding: 30px;
}
.center-blog{
  display: flex;
  justify-content: center;
}
.imagen-blog{
  width: 280px;
  height: 350px;
  border-radius: 10px;
}
.texto-articulo{
  width: 400px;
  height: 400px;
  font-size: 1em;
  padding-right: 40px;
}
/* *** Footer ****/
.footer{
  text-align: center;
}
.contenedor-iconos-footer{
  display: flex;
  justify-content: center;
  margin: 40px 40px;
  padding: 0;
}
footer ul li{
  list-style:none;
}
footer h3{
  font-family: fantasy;
  color: #525050;
}
.item-icono{
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.fa-instagram, .fa-facebook, .fa-envelope{
  font-size: 30px;
  color:rgb(211, 26, 149);
  cursor: pointer;
  margin: 5px;
}
/* 
.clase-modo-claro{
    background-color:#e0e0e0;
    color: rgb(46, 45, 45);
  }
  
  .nav > button{ 
    background-color: transparent;
    color: rgb(46, 45, 45);
  } 
  
  .fuentes-modo-claro{
    color:rgb(46, 45, 45);
  }
  
   */


/* Media query */
@media screen and (max-width:700px) {
  .nav{
    display: none;
  }
  .icon-open-menu{
    display: block;
    margin: 30px 0 0 30px;
    font-size: 26px;
    color: #525050;
  }
  .menu-mobile{
    display: none;
  }
  .menu-mobile{
    display: flex;
    flex-direction: column;
    
    margin-left: 5px;
    background-color:rgba(253, 216, 241, 0.76);
    border-radius: 5px;
    box-shadow:0px 0px 6px 0px rgba(161, 160, 160, 0.5);
    width: 200px;
    height: 100%;
    position: absolute;
  }
  .fa-times{
    font-size: 26px;
    color: #525050;
    margin: 10px 0 10px 30px;
  }
  .boton-video-nav, .boton-blog-nav, .boton-modo-oscuro{
    width: 180px ;
    margin: 8px;
  }
  .seccion-portada .seccion-videos .seccion-fondo .seccion-blog{
    display: flex;
    width: auto;
    align-content: center;
    
  }
  .carrousel{
    height: 300px;
    width: auto;
  }
}

@media screen and (max-width:600px){
  
  .seccion-portada .seccion-videos .seccion-fondo .seccion-blog{
    display: flex;
    width: auto;
    
  }
  .carrousel{
    height: 300px;
  }
  .imagen-de-carrusel{
    width: 100%;
    height: 300px;
  }

  .center-texto{
    width: auto;
    font-size: 0.7em;
    margin: auto;
  }
  .video-js-responsive-container .video-js{
    width: 400px; 
  }
  .titulo{
    font-size: 1.2em;
  }
  .subtitulos{
    font-size: 1.1em;
  }
  .texto-articulo{
    max-width:400px;
    height: auto;
    font-size: 0.7em; 
    /* ver si hace falta ajustar el font-size: ; */
  }
  .imagen-blog{
    max-width: 200px;
    height: auto;
  }

}

@media screen and (max-width:500px) {
  .center-texto{
    padding: 20px;
  }
  .video-js-responsive-container .video-js{
    width: 400px; 
  }
  .titulo{
    margin:0;
  }
  .subtitulos{
    margin: 8px;
  }
  .texto-articulo{
    width: 280px;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .container-imagen-blog{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

@media screen and (max-width:400px) {
  .carrousel{
    height: 200px;
  }
  .imagen-de-carrusel{
    height: 200px;
  }
  .center-texto{
    padding: 20px;
  }
  .video-js-responsive-container .video-js{
    width: 300px; 
  }
  .video-js .vjs-big-play-button {
    height: 1.5em;
    width: 2.5em;
  }
  .titulo{
    margin:0;
  }
  .subtitulos{
    margin: 8px;
  }
  .container-imagen-blog{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .texto-articulo{
    width: 280px;
    padding-right: 0;
    padding-bottom: 20px;
  }
}